.main-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main-content {
  flex-grow: 1; /* Mengisi sisa ruang */
  padding: 24px;
  background-color: #f4f7f6;
  overflow-y: auto; /* Jika konten panjang, bisa di-scroll */
}